.item {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .item .content {
    flex-grow: 1;
  }
  
  .item .header {
    color: blue;
  }
  
  .item .author {
    color: green;
  }
  
  .item .shelf {
    color: purple;
  }
  
  .item img {
    margin-right: 10px;
  }
  
  .item .trash-icon {
    color: red;
    margin-top: 7px;
    cursor: pointer;
  }
  