body {
    background-color: #74205a;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ab478d;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px; /* Adjust the font size as desired */
  }
  
  
  .search-container {
    background-color: #f8eded;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  .search-input {
    background-color: #f7f3f3;
    border: 1px solid #1121fb;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .search-button {
    background-color: #1713f6;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
  }
  
  .member-details {
    background-color: #cf2078;
    padding: 60px;
    border-radius: 10px;
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
  }
  
  .message {
    position: absolute;
    top: 250px; /* Adjust the desired distance from the top */
    left: 50%;
    transform: translateX(-50%);
    color: #151414;
    font-size: 24px;
    text-align: center;
  }
  